
*{
    margin: 0;
}
.parentCls{
    background-color: blueviolet;
    padding: 10px;
}

.childCls{
    margin-top: 20px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    width: fit-content;
}

