
*{
    margin: 0;
}
.parent{
    background-color: blueviolet;
    padding: 10px;
}

.child{
    margin-top: 20px;
    background-color: brown;

}

button{
    margin-top: 20px;
    width: fit-content;
}

